<div class="container-fluid">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AngularCli & Github-API Demo App</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Search</a></li>
          <li><a target="_blank" href="https://github.com/join?source=login">Create Github Acct</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</div>
<div style="text-align:center">
  <router-outlet></router-outlet>
  <h4><a target="_blank" href="https://github.com/join?source=login">Create your github account </a></h4>
</div>

