<div class="container-fluid">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AngularCli & Github-API Demo App</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Search</a></li>
          <li><a target="_blank" href="https://github.com/join?source=login">Create Github Acct</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
